@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, p, span, div, h1, h2, h3, h4, h5, h6,
input, button, label, a, td, th, li, select, textarea {
    font-family: 'Poppins', sans-serif;
}

/* ========================================= */
/* EFECTO PULSO PARA ALERTAS CRÍTICAS (ROJO) */
/* ========================================= */
@keyframes latido-alerta {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 59, 48, 0.7);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(255, 59, 48, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 59, 48, 0);
    }
}

.efecto-pulso-rojo {
    animation: latido-alerta 1.5s infinite;
    border: 1px solid #FF3B30 !important;
    background-color: rgba(255, 59, 48, 0.1) !important;
    border-radius: 8px;
}


/* ========================================= */
/* BARRA DE SCROLL  */
/* ========================================= */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #1e1e2f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4a4a6a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b6b93;
}